@import "./layout.css";
@import "./typography.css";
@import "./utilities.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --pc-clr: hsl(0, 0%, 0%);
  --sc-clr: hsl(0, 100%, 100%); 
  --bd-clr: hsl(100, 100%, 100%, 0.1); 

  --gap: 1rem;
  --rad: 2rem;
  --spa: var(--gap);

  --bdr: 3px solid var(--bd-clr);
  --udl: 2px solid var(--sc-clr) underline;
  --pad: 0.5rem 1rem;
}

#repo-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
}

@media (min-width: 768px) {
    #repo-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap);
    }
}

.repo-card {
    background: var(--pc-clr);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    border: var(--bdr);
}

.project-img {
    aspect-ratio: 16 /9;
    width: 100%;
    object-fit: cover;
    border-bottom: var(--bdr);
}

.no-img-placeholder {
    aspect-ratio: 16 /9;
    width: 100%;
    background: var(--bd-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sc-clr);
}

.card-content {
    padding: var(--spa);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(var(--gap) / 2);
}

.tag-badge {
    background: var(--sc-clr);
    color: var(--pc-clr);
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    border-radius: var(--rad);
}

.view-btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: var(--pad);
    background: var(--pc-clr);
    color: var(--sc-clr);
    border-radius: var(--rad);
    border: var(--bdr);
}

.view-btn:hover {
    text-decoration: var(--udl);
}

.card-footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-header-image {
    border: var(--bdr);
}